.flex-layout-default{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid yellow;
}
.flex-layout1{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid yellow;
    margin: 10px;
}
.flex-layout2{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
}
.flex-layout3{
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid white;
    margin: 10px;
}
.item-default{
    border: 1px solid red;
    // flex-grow: 1;
}

.item-test1{
    flex-basis: 40px;
    border: 1px solid red;
    flex-grow: 2;
}
.item-test2{
    flex-basis: 60px;
    border: 1px solid red;
    flex-grow: 3;
}
.item-test3{
    flex-basis: 100px;
    border: 1px solid red;
    flex-grow: 5;
}